body {
	background-color: #324259;
	color: #ffffff;
	margin:0;
	padding:0;
}
.col-md-6 {
	margin-left: 25%;
	margin-right: 25%;
}

span.post-title {
	font-size: 20px;
	margin-left: 10px;
}

form.add-post {
	margin-top: 30px;
}

span.comment-body {
	font-size: 20px;
	margin-left: 10px;
}

form.add-comment {
	margin-top: 30px;
}

.glyphicon-thumbs-up {
	color: #ffffff;
}

.glyphicon-thumbs-down {
	color: #ffffff;
}